.Our_Community {
  padding: 160px 0px;
  position: relative;
  background: linear-gradient(
    0deg,
    #fff8ef,
    rgba(255, 255, 255, 0) 100%
  ) !important;
  &_Block {
    box-shadow: 0 0.25rem 1.75rem rgba(30, 34, 40, 0.07);
    padding: 40px;
    background: $white;
    border-radius: 0.4rem;
    p {
      margin-bottom: 20px;
      line-height: 1.7;
      font-weight: 500;
      font-size: 18px;
    }
    h5 {
      font-size: 20px;
    }
    .IconQuotes {
      i {
        position: absolute;
        left: 40px;
        top: 40px;
        font-size: 3rem;
        color: rgba(52, 63, 82, 0.05);
      }
    }
  }
  .mt-25 {
    margin-top: 25px;
  }
  &::before {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    z-index: 0;
    border: 0 solid transparent;
    border-right-color: $cream;
    border-right-width: 100vw;
    border-top-width: 4rem;
    bottom: 0rem;
  }
  .Our_Community_Content {
    padding: 0 35px;
  }
}
