.Services_WhatWeDo {
  margin-top: 100px;
  .ServicesList {
    display: flex;
    margin-top: 30px;
    .ServicesIcon {
      margin-right: 26px;
      i {
        height: 60px;
        width: 60px;
        border-radius: 100%;
        background-color: $yellow-IconBg;
        color: $yellow;
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 26px;
      }
    }
    .ServicesText {
      h4 {
        font-size: 19px;
        margin-bottom: 5px;
        line-height: 1.45;
      }
    }
  }
  .whatWeDo_Image {
    img {
      border-radius: 0.4rem;
    }
  }
}
