$yellow-light: #fff8ef;
$yellow-bg: #fff9f0;
$yellow-IconBg: #fef3e4;
$yellow: #fab758;
$white: #fff;
$gray: #60697b;
$light-gray: #f6f7f9;
$black: #343f52;
$light-yellow: #fcd49b;
$red: #e2626b;
$light-red: #eea1a6;
$green: #6bbea3;
$light-green: #a6d8c8;
$blue: #3f78e0;
$light-blue: #8caeec;
$cream: #fefefe;
$gray-primary: #aab0bc;
$text-gray: #959ca9;
